<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hastane_Projesi.Properties.Settings.HastaneProjeConnectionString"
            connectionString="Data Source=DESKTOP-MO5HLC4;Initial Catalog=HastaneProje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hastane_Projesi.Properties.Settings.Hastane_ProjesiConnectionString"
            connectionString="Data Source=EROL;Initial Catalog=Hastane_Projesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>